{% extends 'glowny.html' %}
{% load static %}

{% block tytul %}O nas{% endblock %}
{% block static %}<link rel="stylesheet" href="{% static 'about.css' %}">{% endblock %}

{% block body %}
    <section class="head-of-description">
        <h1>PARE SŁÓW NA NASZ TEMAT</h1>
    </section>
    <section class="description">
        {% for club in clubs %}
            {% if club.nameOfClub == 'LZS Odra Słup' %}
                <div class="row">
                    <div class="col-sm-3">
                        <img src="/media/Logo/slup.png">
                    </div>
                    <div class="col-sm-9">
                        <h4>{{ club.description }}</h4>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <section class="section-of-players">
        <section class="head-of-players">
            <h1>ZAWODNICY</h1>
        </section>
        <section class="players">
        <div class="container-fluid">
            <div class="row">
                {% for player in players %}
                    {% if player.club.nameOfClub == 'LZS Odra Słup' %}
                      <div class="col-sm-6">
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-4">
                                    {% if player.image.url is not None %}
                                        <img src="/media/{{ player.image }}" class="card-img-top" alt="...">
                                    {% else %}
                                        <img src="/media/header/profil.jpg" class="card-img-top" alt="...">
                                    {% endif %}
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-body">
                                       {% if player.secondName == 'Kąkol' %}
                                           <h2 class="card-title">{{ player }}</h2>
                                           <h3 class="card-text"><i class="fa-solid fa-ring"></i> KAPITAN</h3>
                                           <h4 class="card-text">Numer zawodnika: {{ player.numberOfPlayer }}</h4>
                                           <h4 class="card-text">Klub: {{ player.club }}</h4>
                                           <h4 class="card-text">Data urodzenia: {{ player.birth }}</h4>
                                       {% else %}
                                           <h2 class="card-title">{{ player }}</h2>
                                           <h4 class="card-text">Numer zawodnika: {{ player.numberOfPlayer }}</h4>
                                           <h4 class="card-text">Klub: {{ player.club }}</h4>
                                           <h4 class="card-text">Data urodzenia: {{ player.birth }}</h4>
                                       {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        </section>
    </section>
{% endblock %}