{% extends 'glowny.html' %}
{% load static %}

{% block tytul %}Kontakt{% endblock %}
{% block static %}<link rel="stylesheet" href="{% static 'kontakt.css' %}">{% endblock %}

{% block body %}
    <section class="help">
        <div class="row">
            <div class="col-sm-4-help">
                <i class="fa-solid fa-circle-info"></i>
                <div class="window">
                    <ul>
                        <p><b><i>Pomoc</i></b></p>
                        <li>Administrator: <b>Dominik Radziszewski</b></li>
                        <li>Email: <b>dominik.radziszewski99@gmail.com</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4-cooperation">
                <i class="fa-solid fa-handshake-simple"></i>
                <div class="window">
                    <ul>
                        <p><b><i>Współpraca</i></b></p>
                        <li>Email: <b>adrian.radziszewski@gmail.com</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4-sponsorship">
                <i class="fa-solid fa-money-bill-1-wave"></i>
                <div class="window">
                    <ul>
                        <p><b><i>Sponsoring</i></b></p>
                        <li>Email: <b>adrian.radziszewski@gmail.com</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}