{% extends 'glowny.html' %}
{% load static %}

{% block tytul %}Kontakt{% endblock %}
{% block static %}<link rel="stylesheet" href="{% static 'kontakt.css' %}">{% endblock %}

{% block body %}
    <section style="font-size: 1.15rem; height: auto; width: auto; background: white; margin: 40px 30px 50px 30px; box-shadow: 0 0 40px black">
        <div class="row">
            <div class="col-sm-4">
                <i class="fa-solid fa-circle-info" style="display: flex; justify-content: center; font-size: 5rem; padding: 25px; color: #b5a812;"></i>
                <div style="display: flex; justify-content: center; align-items: center; background: transparent; border-style: outset; color: black; margin: 25px; border-radius: 25px; height: 300px; box-shadow: 0 0 40px black">
                    <ul>
                        <p style="font-size: 3rem; display: flex; justify-content: center;color: black"><b><i>Pomoc</i></b></p>
                        <li>Administrator: <b>Dominik Radziszewski</b></li>
                        <li>Email: <b>dominik.radziszewski99@gmail.com</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-handshake-simple" style="display: flex; justify-content: center; font-size: 5rem; padding: 25px; color: #001685;"></i>
                <div style="display: flex; justify-content: center; align-items: center; background: transparent; border-style: outset; color: black; margin: 25px; border-radius: 25px; height: 300px; box-shadow: 0 0 40px black">
                    <ul>
                        <p style="font-size: 3rem; display: flex; justify-content: center; color: black"><b><i>Współpraca</i></b></p>
                        <li>Email: <b>adrian.radziszewski@gmail.com</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-money-bill-1-wave" style="display: flex; justify-content: center; font-size: 5rem; padding: 25px; color: #0e7408;"></i>
                <div style="display: flex; justify-content: center; align-items: center; background: transparent; border-style: outset; color: black; margin: 25px; border-radius: 25px; height: 300px; box-shadow: 0 0 40px black">
                    <ul>
                        <p style="font-size: 3rem; display: flex; justify-content: center; color: black"><b><i>Sponsoring</i></b></p>
                        <li>Email: <b>adrian.radziszewski@gmail.com</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}