{% extends 'glowny.html' %}
{% load static %}

{% block tytul %}Mecze{% endblock %}
{% block static %}<link rel="stylesheet" href="{% static 'mecze.css' %}">{% endblock %}

{% block body %}
    <section class="table">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <section class="content-of-table">
                    <section class="where">
                        <div class="row">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-2">
                                <h6><b>RAZEM</b></h6>
                            </div>
                            <div class="col-sm-2">
                                <h6><b>DOM</b></h6>
                            </div>
                            <div class="col-sm-2">
                                <h6><b>WYJAZD</b></h6>
                            </div>
                        </div>
                    </section>
                    <section class="what">
                        <div class="row">
                            <div class="col-sm-1">
                                <a>L.p.</a>
                            </div>
                            <div class="col-sm-4">
                                <a>Nazwa</a>
                            </div>
                            <div class="col-sm-1">
                                <a>M.</a>
                            </div>
                            <div class="col-sm-1">
                                <a><b>Pkt.</b></a>
                            </div>
                            <div class="col-sm-1">
                                <a class="win">Z.</a>
                            </div>
                            <div class="col-sm-1">
                                <a class="draw">R.</a>
                            </div>
                            <div class="col-sm-1">
                                <a class="lose">P.</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="goals">Bramki</a>
                            </div>
                            <div class="col-sm-1">
                                <a class="win">Z.</a>
                            </div>
                            <div class="col-sm-1">
                                <a class="draw">R.</a>
                            </div>
                            <div class="col-sm-1">
                                <a class="lose">P.</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="goals">Bramki</a>
                            </div>
                            <div class="col-sm-1">
                                <a class="win">Z.</a>
                            </div>
                            <div class="col-sm-1">
                                <a class="draw">R.</a>
                            </div>
                            <div class="col-sm-1">
                                <a class="lose">P.</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="goals">Bramki</a>
                            </div>
                        </div>
                    </section>
                    <hr>
                    <section class="who">
                        {% for club in table %}
                            <div class="row">
                                <div class="col-sm-1">
                                    <a></a>
                                </div>
                                <div class="col-sm-4">
                                    <a>{{ club.club }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a>{{ club.matches }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a><b>{{ club.points }}</b></a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="win">{{ club.wins }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="draw">{{ club.draws }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="lose">{{ club.loses }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="goals">{{ club.shotGoals }}</a>
                                </div>
                                <div class="col-sm-0-5">
                                    <a class="goals">-</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="goals">{{ club.lostGoals }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="win">{{ club.winsHome }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="draw">{{ club.drawsHome }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="lose">{{ club.losesHome }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="goals">{{ club.shotGoalsHome }}</a>
                                </div>
                                <div class="col-sm-0-5">
                                    <a class="goals">-</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="goals">{{ club.lostGoalsHome }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="win">{{ club.winsAway }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="draw">{{ club.drawsAway }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="lose">{{ club.losesAway }}</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="goals">{{ club.shotGoalsAway }}</a>
                                </div>
                                <div class="col-sm-0-5">
                                    <a class="goals">-</a>
                                </div>
                                <div class="col-sm-1">
                                    <a class="goals">{{ club.lostGoalsAway }}</a>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </section>
                </section>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </section>
    <section class="menu">
            <h2>Wszystkie</h2>
    </section>
    <section class="matches">
        <div class="row">
            {% for mecz in mecze %}
              <div class="col-sm-4">
                <div class="card">
                    <img src="/media/{{ mecz.opponent.miniature }}" class="card-img-top" alt="...">
                    <div class="card-body">
                       <h5 class="card-title">{{ mecz }}</h5>
                       <a href="{% url 'details_page' mecz.id %}" class="btn btn-primary">Pokaż więcej</a>
                    </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}