{% extends 'glowny.html' %}
{% load static %}

{% block tytul %}Oderka{% endblock %}
{% block static %}<link rel="stylesheet" href="{% static 'stronaglowna.css' %}">{% endblock %}

{% block body %}
    <section class="head-of-photo">
        <h1> LZS ODRA SŁUP </h1>
    </section>
    <section class="photo">
        {% for i in club %}
            {% if i.nameOfClub == 'LZS Odra Słup' %}
                <img src="/media/{{ i.pictureOfClub }}">
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}